.works-section {
  background-color: #fff;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.photo-gallery {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.albums {
  display: grid;
  grid-template-columns:  320px 320px 320px;
  grid-column-gap: 20px;
  grid-row-gap: 36px;
  margin: 0px;
  padding: 0px;
}

.album-link {
  margin: 0px;
  padding: 0px;
  width: 320px;
}

.album-link-title {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 24px;
}

.tag:visited,
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #ff9d6d;
}

.navigation-link,
.navigation-link:visited {
  color: #fff;
}

.navigation-link:hover {
  background-color: rgba(128, 128, 128, 0.7);
}

.album-link {
  color: #000;
  margin-left: auto;
  margin-right: auto;
}

.album-link:hover {
  color: #0A84FF;
}

.contacts-section {
  margin: 0px;
  padding: 0px;
  height: 180px;
  background-image: url('img/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.contacts-container {
  display: flex;
  width: 1000px;
  height: inherit;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.tel-link {
  margin-left: auto;
  color: #fff;
  font-weight: 100;
  font-size: 28px;
  line-height: 33px;
}

.contacts-link {
  margin-right: 30px;
}
