@use 'variables.sass' as *
@use "@styles/mixins" as *

html
	scroll-behavior: smooth

.container
	box-sizing: border-box
	width: 100%
	max-width: 1060px
	padding: 0 60px
	margin: 0 auto

	@include screen(sm)
		padding: 0 min(5vw, 24px)

#app
	display: flex
	flex-direction: column
	height: 100dvh
	font-family: "SF Pro Rounded", ui-rounded, system-ui, sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-align: center

body
	font-style: normal
	margin: 0
	padding-top: 0

.blocked-scroll
	overflow: hidden

a
	text-decoration: none
	color: $blue
	cursor: pointer

	&:visited
		color: $blue

	&:active,
	&:hover
		text-decoration: none
		color: $orange

	&:active
		opacity: 0.7