@use 'variables.sass' as *
@use "@styles/mixins" as *

html
	background-color: $blue-dark
	scroll-behavior: smooth

.container
	box-sizing: border-box
	width: 100%
	max-width: 1060px
	padding: 0 60px
	margin: 0 auto

	@include screen(sm)
		// padding: 0 min(5vw, 24px)
		padding-right: max(min(5vw, 24px), env(safe-area-inset-right))
		padding-left: max(min(5vw, 24px), env(safe-area-inset-left))

	&--mobile-extended
		@include screen(sm)
			padding: 0

#app
	display: flex
	flex-direction: column
	min-height: 100dvh
	font-family: "SF Pro", system-ui, sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-align: center

body
	font-style: normal
	background: $dark-blue-black-gradient
	margin: 0
	padding-top: 0
	padding-bottom: max(0, env(safe-area-inset-bottom))

.blocked-scroll
	overflow: hidden

a
	text-decoration: none
	color: $blue
	cursor: pointer
	transition: all .1s ease-in-out

	&:visited
		color: $blue

	&:active,
	&:hover
		text-decoration: none
		color: $orange

	&:active
		opacity: 0.7

.visually-hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0
	white-space: nowrap
	clip-path: inset(100%)
	clip: rect(0 0 0 0)
	overflow: hidden
